#sports {
  margin-bottom: 15px;
  color: red;
}

#work {
  margin-bottom: 15px;
  color: red;
}

h1 {
  margin-bottom: 25px;
}

strong {
  color: teal;
}

#success {
  display: none;
  color: magenta;
  text-decoration: underline;
}

.jumbotron {
  text-align: center;
  border: 2px solid teal;
}
